* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  border: 7px solid;
  width: 370px;
  margin-top: 14%;
  margin-left: 40%;
  height: 370px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  animation-name: java;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

h1 {
  font-size: 70px;
  text-align: center;
  font-weight: 700;
  animation-name: java;
  animation-iteration-count: infinite;
  text-shadow: 1px 3px 10px;
}

@keyframes java {
  0% {
    color: indianred;
  }
  25% {
    color: violet;
  }
  50% {
    color: peru;
  }
  75% {
    color: yellowgreen;
  }
  100% {
    color: steelblue;
  }
}
